@import "includes";

*, *:before, *:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

figure {
  margin: 0;
  padding: 0;
}

address {
  margin: 0;
  padding: 0;
  font: inherit;
}

button {
  font-family: inherit;
  color: inherit;
}

img {
  vertical-align: top;
}

.hidden {
  display: none;
}