@import "includes";

.html {
  a {
    text-decoration: underline;
  }

  ol {
    margin: 0;
    padding: 0 0 0 em(28);
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 em(28);

    & > li {
      &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        width: em(8);
        height: em(8);
        margin-left: em(-24);
        margin-right: em(16);
        background-color: $cl-default;
        border-radius: 50%;
      }
    }
  }
}