@mixin nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin nav-line {
  display: flex;
  flex-flow: row;
  @include nav;
}

@mixin container {
  @include grid-container(sm, lg);
}

@mixin corner() {
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    left: -7px;
    top: -7px;
    display: block;
    width: 15px;
    height: 15px;
    border: solid 2px $cl-primary;
    border-right: none;
    border-bottom: none;

    @include grid-breakpoint(sm) {
      left: -12px;
      top: -20px;
      width: 20px;
      height: 20px;
    }

    @include grid-breakpoint(md) {
      left: -30px;
      top: -30px;
      width: 30px;
      height: 30px;
    }
  }
}

@mixin btitle() {
  font-size: em(28);
  line-height: 1.1;
  margin-bottom: 0.4em;

  @include grid-breakpoint(xs) {
    font-size: em(36);
  }

  @include grid-breakpoint(md) {
    font-size: em(50);
  }

  @include grid-breakpoint(lg) {
    font-size: em(60);
  }
}

@mixin side-line() {
  position: relative;
  border-right: solid 3px $cl-primary;

  &:before, &:after {
    content: ' ';
    position: absolute;
    left: 100%;
    top: 100px;
    transform-origin: left center;
  }

  &:before {
    margin-top: -17px;
    border: solid 17px transparent;
    border-right: none;
    border-left: solid 12px $cl-primary;
  }

  &:after {
    margin-top: -12px;
    border: solid 12px transparent;
    border-right: none;
    border-left: solid 8px white;
  }
}

@mixin arw-down($color, $factor: 0.17) {
  position: relative;
  overflow: hidden;

  &:before {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: 0;
    display: block;
    border: solid 1700px transparent;
    $top: 1700px * $factor;
    border-top: solid $top $color;
    border-bottom: none;
    transform: translateX(-50%);
  }
}

@mixin figure() {
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: solid em(8) transparent;
    transition: all $duration;
  }

  &:after {
    @include icon;
    @extend .icon_eye:before;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.5em;
    margin-top: -0.5em;
    font-size: em(36);
    color: white;
    opacity: 0;
    visibility: hidden;
    transition: all $duration;
  }

  &:hover, &:focus {
    &:before {
      background-color: transparentize($cl-black, 0.2);
      border-color: $cl-primary;
    }

    &:after {
      opacity: 1;
      visibility: visible;
    }
  }
}