doctype html
html(lang="ru-RU" class="no-js")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="author" content="By PaulZi [2017-02-11]")

        title Template
        meta(name="description" content="")
        meta(name="keywords" content="")

        include ./_favicons
        include ./_vendor-head
    body
        div.l__root
            header.l__header
            main.l__main
                block main
            footer.l__footer
        include ./_vendor