include _nav
doctype html
html(lang="ru-RU" class="no-js")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="author" content="By PaulZi [2018-08-25]")

        title Template
        meta(name="description" content="")
        meta(name="keywords" content="")

        include ./_favicons
        include ./_vendor-head
    body
        div.l-root
            header.l-header
                +nav({
                    options: {'class': 'nav_main'},
                    items: [
                        'О нас',
                        'Новости',
                        'Контакты'
                    ]
                })
            main.l-main
                block main
            footer.l-footer
        include ./_vendor