@font-face {
  font-family: 'CustomIcons';
  src: url('/fonts/custom-icons/custom-icons.woff2') format('woff2'),
       url('/fonts/custom-icons/custom-icons.woff') format('woff'),
       url('/fonts/custom-icons/custom-icons.ttf') format('truetype'),
  url('/fonts/custom-icons/custom-icons.svg#custom-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}