@font-face {
  font-family: 'CustomIcons';
  src: url('/fonts/custom-icons/custom-icons.eot');
  src: url('/fonts/custom-icons/custom-icons.eot?#iefix') format('embedded-opentype'),
       url('/fonts/custom-icons/custom-icons.woff2') format('woff2'),
       url('/fonts/custom-icons/custom-icons.woff') format('woff'),
       url('/fonts/custom-icons/custom-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}